<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342334078135-hqulqilqlhmg9i0u4v5nls1763v84uac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342334078135-hqulqilqlhmg9i0u4v5nls1763v84uac</string>
	<key>API_KEY</key>
	<string>AIzaSyD7_s0lh0wRRiqlEPPNKa5wG2KKHF8SEU8</string>
	<key>GCM_SENDER_ID</key>
	<string>342334078135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secondappever.ownnotes</string>
	<key>PROJECT_ID</key>
	<string>ownnotes-pacha</string>
	<key>STORAGE_BUCKET</key>
	<string>ownnotes-pacha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342334078135:ios:e226f6210d84da0830e132</string>
</dict>
</plist>